body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
   margin: 0;
   padding: 0;
}

.hidden {
  display: none;
}

/* Header */
header {
  background: #d3f8ff;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #fff0d3 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header h1 {
  font-family: 'Roboto Slab', serif;
}

header .highlight, header .current a {
  color: #fff0d3;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

header .hamburger {
  background-color: #000000;
  height: 3px;
  width: 40px;
  /* padding: 10px; */
  margin: 5px;
}

header .container nav .skip {
  display: none;
  visibility: hidden
}

/* About */
#about {
  min-height: 400px;
  background:url("./img/pineapples.jpeg") 0 -400px;
  text-align: center;
  color: #111111;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float:left;
  width: 15%;
  padding: 10px;
  text-align: center;
}

#boxes .box img {
  width: 90px;
  height: 100px;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #fff0d3;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }
}

@media(max-width: 414px) {
  header .container {
    display: flex;
  }

  header #branding {
    flex: 1;
    width: 100%;
    color: black;
  }

  header nav ul {
    /* overflow: auto;
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent; */
    margin: 0;
    padding-top: 70px;
    width: 150px;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 1em;
    top: 3.5em;
    transition: max-height 0.25s ease-out;
    z-index: 1;
    background-color: #d3f8ff;
  }

  nav li a {
    padding-top: 30px;
    display: block;
    color: blue;
    /* background-color: red; */
  }

  header .container nav .skip {
    position: absolute;
    right: 1em;
    top: 1em;
    /* background: blue; */
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    float: right;
    display: inline;
    visibility: visible;
    padding: 35px 20px 0 0;
    z-index: 2;
  }

  header nav ul.open {
    max-height: 20em;
    width: 150px;
    background-color: #d3f8ff;
    padding-bottom: 20px;
    /* text-align: center; */
  }

  /* header nav ul.close{
    max-height: 20em;
    width: 150px;
    background-color: red;
    padding-bottom: 20px;
    display: none;
  } */

  header nav li {
    /* text-align: left;
    display: inline-block;
    border-top 0;
    border-right: 1px solid green;
    background-color: red; */
    max-height: 20em;
    width: 150px;
    /* background-color: red; */
    padding-bottom: 20px;

  }
}
